
//--------------------------------
// Colors used in the application
//--------------------------------
$tut-color-gray: #939393;

//-------------------------------------------------------------
//popup container
//-------------------------------------------------------------

.tutBasePopupContainer{

	.tutPopupContent{
	   position:absolute;
	   margin-left:50px;
	   height:100%; 
    }
    
    .tutSideToolBar{
       position:absolute;
       top:0px;
       left:0px;
       width:50px;
       height:100%;
       background: $tut-color-gray;
    }
}

//-------------------------------------------------------------
//video player popup
//-------------------------------------------------------------

.tutvideoPopup{

    .tutVideoplayer{
	   position:absolute;
	   top:0px;
	   left:50px;
	   width:100%;
	   float:right;
    }


    .tutCommentsSection{
	   margin-top:520px;
	   left:60px;
	   width:100%;
	   float:right;
    }
}

//-------------------------------------------------------------
//signup popup
//-------------------------------------------------------------

.tutSignupPopup{

	.tutSignUpViewPanels{
       margin-left:10px;
    }

    .tutBottomMargin {
	   margin-bottom:10px;
    }	
}

//-------------------------------------------------------------
//side bar items 
//-------------------------------------------------------------

.tutSaveButton {
	   margin-top:20px;
}

.tutRedoButton {
	   margin-top:20px;
}

.tutLikeIndicator{
	margin-left:30%;
	margin-top:20px;
}

//-------------------------------------------------------------
//login page
//-------------------------------------------------------------

.tutLoginPage{
	
    .tutLoginPanel {
       position: fixed;
       top: 50%;
       left: 50%;
       margin-top: -92px;
       margin-left: -175px;
    }
    
    .tutBottomMargin {
	   margin-bottom:10px;
    }	
    
    .tutButtonHorizontalMargin {
        margin-left:15px;
    }
    
    .tutAboutButton {
        position:fixed;
        top:50%;
        left:0px;
        margin-top:-24px;
    }
    
    .tutAboutButtonExpanded {
        position:fixed;
        top:50%;
        left:300px;
        margin-top:-24px;
        z-index:10
    }
    
    
    .tutfaqButton {
        position:fixed;
        top:50%;
        right:0px;
        margin-top:-24px;
    }
    
    .tutfaqButtonExpanded {
        position:fixed;
        top:50%;
        right:300px;
        margin-top:-24px;
        z-index:10
    }
    
    .tutAboutPanel {
       position:fixed;
       display:none;
    }
    
    .tutAboutPanelExpanded {
       position:fixed;
       left:0px;
       width:300px;
       height:100%;
       border:2px solid;
       box-shadow: 10px 10px 5px #888888;
    }
    
    .tutFaqPanel {
       position:fixed;
       display:none;
    }
    
    .tutFaqPanelExpanded {
       position:fixed;
       right:0px;
       width:300px;
       height:100%;
       border:2px solid;
       box-shadow: -10px 10px 5px #888888;
    }
}