
//--------------------------------
// Colors used in the application
//--------------------------------
$tut-color-black: #000000;

//-------------------------------------------------------------
//Side bar for overlay container
//-------------------------------------------------------------

.tutSideToolBar{
   position:absolute;
   top:0px;
   left:0px;
   width:50px;
   height:100%;
   background: $tut-color-black;
}

.tutPopupContent{
	position:absolute;
	margin-left:50px;
	width:100%;
	float:right;
	height:100%;
	float:bottom;
}

.tutVideoplayer{
	position:absolute;
	top:0px;
	left:50px;
	width:100%;
	float:right;
}

.tutLikeIndicator{
	margin-left:30%;
	margin-top:20px;
}

.tutCommentsSection{
	margin-top:520px;
	left:60px;
	width:100%;
	float:right;
}

	
.tutSaveButton {
	margin-top:20px;
}

.tutRedoButton {
	margin-top:20px;
}
   
.tutSignUpViewPanels{
    margin-left:10px;
}

.tutBottomMargin {
	margin-bottom:10px;
}	

